.jumbotron {
	background-color: #ffe100;
	color: black;
	margin-top: 0px;
}

footer {
	padding: 10px 10px 0 10px;
	background-color: #ffe100;
	margin-bottom: 0px;
	margin-top: 10px;
}
.card-hotel{
	flex: 1 200px;
	/*padding: 2px 5px 2px 5px;*/
	margin-top: 10px;
}
.btn-reserva {
	width: 100%;
	border-radius: 0px
}

.footer-addres-icon{
	padding-right: 10px;
}

.copy {
    margin: 0;
    text-align: center;
    color: black;
    font-size: 1rem;
}

.referencias {
    text-align: center;
}

.banner {
	background-color: white;
	margin-top: 60px;
}

.img{
	display: block;
	margin: auto;
}

.tyc {
	padding: 3px 0px 3px 0px;
}

.tab-content {
	padding-top: 10px;
}
