@yellow: #fffb00;
@red: #ff2b00;
@green: #21bf29;

.margenes(@top: 0px, @bottom: 0px){
	margin-top: $top;
	margin-bottom: $bottom;
}

.jumbotron {
  background-color: @yellow;
  color: black;
  .margenes(50px, 0px);
  /*margin-top: 50px;
  margin-bottom: 10px;*/
  /*margin-top: 50px;*/ }

footer {
  padding: 10px 10px 0 10px;
  background-color: @yellow;
  .margenes(10px, 10px):
  /*margin-top: 10px;
  margin-bottom: 10px;*/
  /*margin-bottom: 0px;
	margin-top: 10px;*/ }

.card-hotel {
  flex: 1 200px;
  .margenes(10px, 0px)
  /*margin-top: 10px;
  margin-bottom: 0px;*/
  /*padding: 2px 5px 2px 5px;*/
  /*margin-top: 10px;*/ }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.footer-addres-icon {
  padding-right: 10px; }

.copy {
  margin: 0;
  text-align: center;
  color: black;
  font-size: 1rem; }

.referencias {
  text-align: center; }

.banner {
  background-color: white;
  margin-top: 60px; }

.img {
  display: block;
  margin: auto; }

.tyc {
  padding: 3px 0px 3px 0px; }

.tab-content {
  padding-top: 10px; }
