$yellow: #fffb00;
$red: #ff2b00;
$green: #21bf29;

@mixin margenes($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom;
}

@mixin paddinng($top,$right,$bottom,$left){
	padding-bottom:$bottom;
	padding-left:$left;
	padding-right:$right;
	padding-top:$top;
}

@mixin colores($color){
	color:$color;
}

.jumbotron {
	background-color: $yellow;
	color: black;
	@include margenes(50px, 10px);
	/*margin-top: 50px;*/
}

footer {
	padding: 10px 10px 0 10px;
	background-color: $yellow;
	@include margenes(10px, 10px);
	/*margin-bottom: 0px;
	margin-top: 10px;*/
}
.card-hotel{
	flex: 1 200px;
	@include margenes(10px, 0px);
	/*padding: 2px 5px 2px 5px;*/
	/*margin-top: 10px;*/
}
.btn-reserva {
	width: 100%;
	border-radius: 0px
}

.footer-addres-icon{
	padding-right: 10px;
}

.copy {
    margin: 0;
    text-align: center;
    color: black;
    font-size: 1rem;
}

.referencias {
    text-align: center;
}

.banner {
	background-color: white;
	margin-top: 60px;
}

.img{
	display: block;
	margin: auto;
}

.tyc {
	padding: 3px 0px 3px 0px;
}

.tab-content {
	padding-top: 10px;
}
